@import "tailwindcss";

.dragover {
  background-color: #E0E0E0;
  border: 2px dashed #666;
}

.cursor-move {
  cursor: move;
}

.dragover {
  background-color: #f0f7ff;
  border: 2px solid #3b82f6;
}

